@using Humanizer

@model IEnumerable<Activity>

<ul class="media-list media-list-stream">
  @foreach (var activity in Model)
  {
    <li class="media">
      <a class="media-left">
        <img class="media-object img-circle" user-profile-id="@activity.ActorID"/>
      </a>
      <div class="media-body">
        <small class="pull-right">@DateTime.UtcNow.Subtract(activity.OccuredOn).Humanize() ago</small>
        <div class="media-title">
          <strong>@activity.Actor.Name</strong> @activity.Verb.ToString().ToLower() a
        </div>

        @await Component.InvokeAsync("WineInfo", activity.WineID)
        @await Component.InvokeAsync("ActivityImage", activity)
      </div>
    </li>
  }
</ul>