//
// Forms
// ----------------------------------------------------------------------------

.form-control {
  box-shadow: inset 0 1px 1px $input-border;

  &:focus {
    box-shadow: inset 0 1px 1px $input-border-focus;
  }
}

.form-actions {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;

  background-color: $black-divider;
}

.checkbox {
  input[type=checkbox] {
    position: relative;
    top: -2px;
    visibility: hidden;

    margin-right: 15px;

    &:before {
      display: block;
      content: '';
      visibility: visible;

      width: 20px;
      height: 20px;

      background-color: $black-divider;
      border-radius: $border-radius-small;
      box-shadow: inset 0 1px 1px $input-border;
      cursor: pointer;
    }

    &:after {
      @extend .fa;

      position: absolute;
      top: 3px;
      left: 3px;

      content: '\f00c';
      opacity: 0;
      visibility: visible;
      transition: opacity .2s;
    }

    &:checked {
      &:after {
        opacity: 1;
      }
    }
  }
}

.validation-summary-errors {
  @extend .alert;
  @extend .alert-danger;
}