//
// Jumbotron
// ----------------------------------------------------------------------------

.jumbotron {
  padding: 6.4rem;

  font-size: 3.4rem;
  font-weight: $font-weight-light;
  line-height: 1;

  h1 {
    font-size: 11.2rem;
    line-height: 1;
  }
}