  //
// Jumbotron
// ----------------------------------------------------------------------------

.jumbotron {
  font-size: 2.4rem;
  font-weight: $font-weight-light;
  line-height: 1;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 6.4rem;

    font-size: 3.4rem;
  }

  h1 {
    font-size: 6rem;
    line-height: 1;

    @media only screen and (min-width: $screen-sm-min) {
      font-size: 11.2rem;
    }
  }
}