@model winerack.Models.Bottle

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<h4>Tasting</h4>
<hr />

<p>Select a bottle to drink:</p>

<table class="table">
    <thead>
        <tr>
            <th>Bottle</th>
            <th>@Html.DisplayNameFor(m => m.Purchases.FirstOrDefault().StoredBottles.FirstOrDefault().Location)</th>
            <th>Purchased</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1; }
        @foreach (var stored in Model.Purchases.SelectMany(p => p.StoredBottles).Where(s => s.Tasting == null)) {
            <tr>
                <td>#@i</td>
                <td>@Html.DisplayFor(m => stored.Location)</td>
                <td>@Html.DisplayFor(m => stored.Purchase.PurchasedOn)</td>
                <td>
                    @Html.ActionLink("drink", "Create", new { storedBottleId = stored.ID})
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>