@model IEnumerable<my.winerack.io.Models.Bottle>

@{
    ViewBag.Title = "In The Rack";
}

<h2><i class="wine-bottles"></i> In The Rack</h2>

<a class="btn btn-lg btn-primary" href="/Bottles/Create"><i class="wine-champagne"></i> Add a bottle</a>

@{Html.RenderAction("Rack");}
