@model IEnumerable<my.winerack.io.Models.Bottle>

@{
    ViewBag.Title = "In The Rack";
}

<h2>In The Rack</h2>


@Html.ActionLink("Add a bottle", "Create", null, new { @class = "btn btn-lg btn-primary" })

@{Html.RenderAction("Rack");}
