@model winerack.Models.ActivityEventViewModels.Base
@using winerack.Helpers
@{
    var imageUrl = "https://winerack.blob.core.windows.net/" + Model.Image + "_sm.jpg";
}

<div class="activity-event panel panel-default">
    <div class="panel-body">
        @RenderBody()

        @if (!string.IsNullOrWhiteSpace(Model.Image)) {
            <img src="@imageUrl" width="300" />
        }

        <div class="text-muted">@ExtensionMethods.TimeAgo(Model.OccuredOn)</div>
        <div>
            <a href="@Model.ViewUrl/@Model.ObjectID">View details</a>
        </div>
    </div>
</div>
