<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            @if (Request.IsAuthenticated) {
                <button type="button" class="navbar-toggle" data-toggle="sidenav">
                    <i class="fa fa-caret-left"></i>
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-caret-right"></i>
                </button>
            }

            <a class="navbar-brand" href="/">
                <i class="wine-corkscrew"></i>
                <span class="text-thin">wine</span><strong>rack</strong>
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                @if (Request.IsAuthenticated) {
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">My Collection <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("In The Rack", "", "Bottles")</li>
                            <li>@Html.ActionLink("Purchase History", "", "Purchases")</li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole(MvcApplication.ADMINISTRATOR_GROUP)) {
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Regions">Regions</a></li>
                            <li><a href="/Varietals">Varietals</a></li>
                            <li><a href="/Vineyards">Vineyards</a></li>
                            <li><a href="/Wines">Wines</a></li>
                            <li class="divider"></li>
                            <li><a href="/Users">Users</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>

        @Html.Partial("_LoginPartial")
    </div>
</div>

