@model winerack.Models.User
@using winerack.Helpers

<a href="/users/@Model.Id">
    <img class="img-circle" src="@ExtensionMethods.ProfileImageUrl("sq_sm", Model.Id)" width="75" />
    <h4>@Model.Name</h4>
</a>