//
// Account interfaces
// ----------------------------------------------------------------------------

.login-form {
  margin-top: 3.2rem;

  h1 {
    font-size: 1.6rem;
    text-align: center;
  }
}