//
// Activity
// ============================================================================

.activity-stream {
  margin-left: -8px;
  margin-right: -8px;
}

.activity-event {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;

  @media only screen and (min-width: $screen-sm-min) {
    width: 50%;
  }

  @media only screen and (min-width: $screen-lg-min) {
    width: (100% / 3);
  }

  .panel {
    margin-bottom: 0;
  }

  .panel-body {
    a {
      color: $text-color;
      font-weight: $font-weight-medium;
      transition: all .2s;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}
