//
// Footer
// ----------------------------------------------------------------------------

.footer {
  padding: 10rem 0 10rem;

  color: $white-secondary;
  text-align: center;

  a {
    color: $black-disabled;
    text-decoration: none;

    transition: color 0.2s;

    &:hover {
      color: $white-text;
    }
  }

  .fa {
    font-size: 3rem;
  }
}