//
// Forms
// ----------------------------------------------------------------------------

.control-label {
  font-weight: $font-weight-light;
}

.field-validation-error {
  color: $brand-warning;
  font-size: 1.2rem;
  font-weight: $font-weight-light;
}

.form-control {
  box-shadow: inset 0 1px 1px $input-border;

  &:focus {
    box-shadow: inset 0 1px 1px $input-border-focus;
  }

  &.input-validation-error {
    border: 0 none;
    box-shadow: inset 0 0 3px $brand-warning;
  }

  option {
    background-color: $black-secondary;
  }
}

.form-actions {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;

  background-color: $black-divider;
}

.checkbox {
  input[type=checkbox] {
    position: relative;
    top: -2px;
    visibility: hidden;

    margin-right: 15px;

    &:before {
      display: block;
      content: '';
      visibility: visible;

      width: 20px;
      height: 20px;

      background-color: $black-divider;
      border-radius: $border-radius-small;
      box-shadow: inset 0 1px 1px $input-border;
      cursor: pointer;
    }

    &:after {
      @extend .fa;

      position: absolute;
      top: 3px;
      left: 3px;

      content: '\f00c';
      opacity: 0;
      visibility: visible;
      transition: opacity .2s;
    }

    &:checked {
      &:after {
        opacity: 1;
      }
    }
  }
}

.rating-input {
  padding-top: $padding-small-vertical;

  .fa {
    padding-right: 2px;

    font-size: 2rem;

    cursor: pointer;
  }
}

.validation-summary-errors {
  @extend .alert;
  @extend .alert-danger;
}