//
// Navbar
// ----------------------------------------------------------------------------

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;

  min-height: $navbar-height;

  background-color: $brand-red;
}
.navbar-header {
  float: left;
}

.navbar-toggle {
  float: left;
  margin-left: -8px;
  padding: 16px;

  font-size: 2rem;

  border: 0 none;
  background-color: transparent;

  @media (min-width: $screen-lg-min) {
    display: none;
  }

  .fa-caret-left {
    display: none;
  }
}

.is-sidenav-visible {
  .navbar-toggle {
    .fa-caret-left {
      display: inline-block;
    }

    .fa-caret-right {
      display: none;
    }
  }
}

.navbar-brand {
  display: block;
  float: left;
  padding: 16px 16px 16px 12px;

  color: $white-text;
  font-size: 2.4rem;

  &:hover {
    color: $white-text;
    text-decoration: none;
  }

  @media only screen and (min-width: $screen-md-min) {
    margin-left: -15px;
  }
}

.navbar-collapse {
  @media only screen and (min-width: $screen-sm-min) {
    display: block;
    visibility: visible;
  }
}

.navbar-nav {
  //float: right;
  margin: 0;
  padding: 0;

  list-style: none;

  > li {
    float: left;

    > a {
      display: block;
      padding: 24px 12px;

      color: $white-secondary;
      text-decoration: none;

      transition: color 0.2s;

      .fa {
        font-size: 2rem;
      }

      &:hover {
        color: $white-text;
      }
    }
  }
}

.navbar-right {
  float: right;
}