//
// Panels
// ============================================================================

.panel {
  @extend .widget;
}

.panel-heading {
  @include clearfix();
}

.panel-heading-image {
  float: left;
  margin-right: 16px;
}

.panel-title {  
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 1.8rem;
}