//
// Scaffolding
// ----------------------------------------------------------------------------

body {
  padding-top: 80px;
  min-width: 340px;
  overflow-x: hidden;

  background-attachment: fixed, fixed;
  background-color: rgba(102,105,104,0.9);
  background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(102,105,104,0.9),rgba(93,112,119,0.89),rgba(160,174,150,0.9));

  @media only screen and (min-width: $screen-md-min) {
    font-size: 1.3rem;
  }
}

.body-content {
  > .page-header {
    margin-top: 0;
  }
}