//
// Sidenav
// ============================================================================



// Variables
// ----------------------------------------------------------------------------

$sidenav-width-xs:          256px;
$sidenav-width-sm:          64px;
$sidenav-width-md:          $sidenav-width-sm;
$sidenav-width-lg:          $sidenav-width-xs;

$sidenav-visible-width-sm:  $sidenav-width-xs;
$sidenav-visible-width-md:  $sidenav-width-xs;
$sidenav-visible-width-lg:  $sidenav-width-xs;

@mixin sidenav-transition() {
  transition: left ease-in-out .2s;
}


// Default state
// ----------------------------------------------------------------------------

.main-wrapper {
  width: 100%;
  overflow: hidden;
}

.sidenav {
  position: fixed;
  left: -($sidenav-width-xs);

  padding-left: 8px;
  width: $sidenav-width-xs;

  @include sidenav-transition();

  .nav-text {
    margin-left: 8px;
  }

  i {
    display: inline-block;
    width: 26px;

    font-size: 2rem;
    text-align: center;
  }

  .nav {
    > li {
      > a {
        padding-left: 13px;
      }
    }
  }

  @media only screen and (min-width: $screen-sm-min) {
    left: 0;

    width: $sidenav-width-sm;

    .nav-text,
    .user-profile {
      display: none;
    }
  }

  @media only screen and (min-width: $screen-md-min) {
    width: $sidenav-width-md;
  }

  @media only screen and (min-width: $screen-lg-min) {
    width: $sidenav-width-lg;

    .nav-text {
      display: inline-block;
    }

    .user-profile {
      display: block;
    }
  }
}

.content-wrapper {
  position: relative;
  left: 0;

  padding: 0 16px;

  @include sidenav-transition();

  @media only screen and (min-width: $screen-sm-min) {
    margin-left: $sidenav-width-sm;
  }

  @media only screen and (min-width: $screen-md-min) {
    margin-left: $sidenav-width-md;
  }

  @media only screen and (min-width: $screen-lg-min) {
    margin-left: $sidenav-width-lg;
  }
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;

  @media only screen and (min-width: $screen-sm-min) {
    max-width: 750px;
  }

  @media only screen and (min-width: $screen-md-min) {
    max-width: 800px;
  }

  @media only screen and (min-width: $screen-lg-min) {
    max-width: 1200px;
  }
}



// Visible state
// ----------------------------------------------------------------------------

.is-sidenav-visible {
  .sidenav {
    left: 0;

    @media only screen and (min-width: $screen-sm-min) {
      width: $sidenav-visible-width-sm;

      .nav-text {
        display: inline-block;
      }

      .user-profile {
        display: block;
      }
    }
  }

  .content-wrapper {
    left: $sidenav-width-xs;

    @media only screen and (min-width: $screen-lg-min) {
      left: 0;
    }
  }
}