//
// Widgets
// ----------------------------------------------------------------------------

.widget {
  background-color: $black-divider;
  border-radius: $border-radius-small;

  margin-bottom: $padding-large-vertical;
  padding: 16px;

  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child {
    margin-top: 0;
  }
}