//
// Wine
// ============================================================================

.winerack {
  .winerack-bottle {
    h3 {
      margin: 0;
    }

    .label {
      position: relative;
      top: $padding-base-vertical;
    }
  }
}

.wine_header {
  h2 {
    margin-top: $padding-base-vertical;
  }
}