@{
    ViewData["Title"] = "Reset Password";
}

<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <div class="card card-block text-center">

        <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <h2 class="card-title">Reset Password</h2>

            <p>Please check your email to reset your password.</p>

          </div>
        </div>
      </div>

  </div>
</div>
