@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Password Reset";
}

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
      <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

      <div class="card card-block text-center">

        <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <h2 class="card-title">Reset Password</h2>

            <p>To reset your password, enter the email address you use to sign into winerack.</p>

            <fieldset class="form-group">
              <label asp-for="Email" class="sr-only"></label>
              <input asp-for="Email" class="form-control" placeholder="you@domain.com"/>
            </fieldset>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Reset my password</button>
            </div>

          </div>
        </div>
      </div>

    </form>
  </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
