@{
  ViewData["Title"] = "Sign up";
}

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="card card-block text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <h2 class="card-title">Sign up</h2>

          <p>We've emailed you a link to confirm your email address.</p>

          <p>Please check your email and follow the link to sign in.</p>
        </div>
      </div>
    </div>

  </div>
</div>
