@using System.Security.Claims
<div class="panel panel-default">
  <div class="panel-heading">

  </div>
  <div class="panel-body text-center">
    <h5 class="panel-title">@User.GetUserName()</h5>
  </div>
</div>