@model winerack.Models.Varietal

@{
    ViewBag.Title = Model.Name;
}

<div class="page-header">
    @if (User.IsInRole("Administrators")) {
        <div class="pull-right">
            <a href="/Varietals/Edit/@Model.ID" title="Edit"><i class="fa fa-2x fa-edit"></i></a>
        </div>
    }

    <h1>@Model.Name</h1>
</div>
