@model winerack.Models.Vineyard

@{
    ViewBag.Title = Model.Name;
}

<div class="page-header">
	<h1>
		@Model.Name
		@if(User.IsInRole("Administrators")) {
			<small>
				@Html.ActionLink("Edit", "Edit", new { id = Model.ID })
			</small>
		}
	</h1>
</div>

@if (Model.Wines.Count() > 0) {
	<section>
		<h3>Wines</h3>
		@foreach (var wine in Model.Wines) {
			@Html.Partial("Wines/_Preview", wine)
		}
	</section>
}