@model IEnumerable<winerack.Models.Vineyard>

@{
    ViewBag.Title = "Vineyards";
}

<div class="page-header">
    <div class="pull-right">
        @Html.ActionLink("New", "Create", null, new { @class = "btn btn-primary" })
    </div>

    <h2>Vineyards</h2>
</div>

<div class="widget">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <a href="/vineyard/@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td class="text-right">
                        <a href="/Vineyards/Edit/@item.ID" title="Edit"><i class="fa fa-edit"></i></a>
                        <a href="/Vineyards/Delete/@item.ID" title="Delete"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>