<footer class="footer m-t-3 m-b-3">
  <div class="container">
    <p>
      <a class="fa fa-fw fa-2x fa-twitter" href="http://twitter.com/winerack_io" target="_blank">
        <span class="sr-only">Twitter</span>
      </a>

      <a class="fa fa-fw fa-2x fa-facebook" href="https://www.facebook.com/winerack.io" target="_blank">
        <span class="sr-only">Facebook</span>
      </a>

      <a class="fa fa-fw fa-2x fa-github" href="https://github.com/mattdwen/winerack.io" target="_blank">
        <span class="sr-only">GitHub</span>
      </a>
    </p>

    <p>
      <span class="text-muted copyright">&copy; @DateTime.Now.Year Matt Dwen</span>
    </p>
  </div>
</footer>