<nav class="sidenav">
  @{
    Html.RenderAction("MiniProfile", "User");   
  }

  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/Bottles">
            <i class="fa fa-fw wine-bottles text-muted"></i> In my rack
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Purchases">
            <i class="fa fa-dollar fa-fw text-muted"></i> Purchase history
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Friends">
            <i class="fa fa-users fa-fw text-muted"></i> Friends
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Account/Settings">
            <i class="fa fa-cog fa-fw text-muted"></i> Settings
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>