@model winerack.Models.MiniProfileViewModel


<div class="alert alert-info">
    <div class="">
        <div class="row">
            <div class="col-sm-3">
                <strong>@Model.BottlesTotal</strong> Collected
            </div>
            <div class="col-sm-3">
                <strong>@Model.BottlesUnique</strong> Unique
            </div>
            <div class="col-sm-3">
                <strong>@Model.BottlesDrunk</strong> Opened
            </div>
            <div class="col-sm-3">
                <strong>@Model.Tasted</strong> Tasted
            </div>
        </div>
    </div>
</div>
