
@{
    ViewBag.Title = "In The Rack";
}

<div class="pull-right">
    <a class="fa fa-2x fa-plus" href="/Bottles/Create" title="Add a bottle"></a>
</div>

<div class="page-header">
    <h1>In The Rack</h1>
</div>

@{Html.RenderAction("Rack");}
