@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Structure.cshtml";
}

<section id="welcome-page">
    <div class="jumbotron">
        <div class="container">
            <h1><span class="text-thin">wine</span><strong>rack</strong></h1>
            <p>Catalog and share your wine collection</p>
        </div>
    </div>

    <div class="marketing">
        <div class="container">
            <h2>Track your wine purchases, where you've stored it, and with whom you drink it</h2>
            <p class="lead">
                Use our catalog to keep track of all your wine purchases, and record where you've stored it.<br>
                Set cellaring ages to make it easier to find what to drink now.<br>
                Make tasting notes and detail who you enjoyed your wine with.
            </p>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Get notified when <span class="text-thin">wine</span><strong>rack</strong> is ready</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                @{ Html.RenderPartial("_MailchimpSignup"); }
            </div>
        </div>
    </div>
</section>