@model winerack.Models.Wine

<span class="winedescription">
    @if (!string.IsNullOrWhiteSpace(Model.Name)) {
        <span class="name"><em>@Model.Name</em></span>
    }
    
    <span class="varietal">@Html.DisplayFor(m => m.Varietals)</span>

    <span class="vintage">@Model.Vintage.ToString()</span>
</span>