@model winerack.Models.Wine

<div class="widget winerack-bottle">
    <a href="/wine/@Model.ID">
        <h3>@Html.Partial("Wines/_Description", Model)</h3>
        <h5>@Model.Vineyard.Name</h5>
        <h6>@Model.Region.ToString()</h6>
    </a>
</div>