@model winerack.Models.Wine

<div class="panel panel-default">
	<div class="panel-body">
		<div>
			<strong>
				<a href="/wines/@Model.ID">
					@Html.Partial("Wines/_Description")
				</a>
			</strong>
		</div>
		<div>
			<i class="fa fa-map-marker"></i>
			<a href="/vineyards/@Model.VineyardID">@Model.Vineyard.Name</a>
		</div>
		<div>
			<i class="fa fa-globe"></i>
			<a href="/regions/@Model.RegionID">@Model.Region.Label</a>
		</div>
	</div>
</div>