<footer class="footer">
    <div class="container">
        <ul class="list-inline">
            <li>
                <a class="icon twitter fa fa-twitter" href="http://twitter.com/winerack_io" target="_blank">
                    <span class="sr-only">Twitter</span>
                </a>
            </li>
            <li>
                <a class="icon facebook fa fa-facebook" href="https://www.facebook.com/winerack.io" target="_blank">
                    <span class="sr-only">Facebook</span>
                </a>
            </li>
        </ul>
        <span class="copyright">&copy; Matt Dwen. All rights reserved.</span>
    </div>
</footer>