@{
    ViewBag.Title = "Forgot Username Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Please check your email for your username.
    </p>
</div>

