//
// Components - Footer
// ============================================================================

.footer {
  margin-top: $spacer-y * 4;
  padding-top: $spacer-y * 4;
  padding-bottom: $spacer-y * 4;

  background-color: $gray-dark;
  color: $gray-light;
}