//
// Components - Panels
// ============================================================================

.panel {
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.panel-body {
  padding: $spacer;
}

.panel-title {
  font-size: $font-size-base;
  font-weight: 600;
}