//
// Winerack - Main Stylesheet
// ============================================================================



// Variables
// ----------------------------------------------------------------------------

$body-bg: #f9f9f9;
$brand-primary: #b71c1c;
$fa-font-path: '/lib/font-awesome';
$font-family-sans-serif: 'Open Sans', sans-serif;



// Frameworks
// ----------------------------------------------------------------------------

@import 'bootstrap/scss/bootstrap';
@import 'font-awesome/scss/font-awesome';



// Core CSS
// ----------------------------------------------------------------------------

@import 'scaffolding';
@import 'forms';
@import 'panels';



// Components
// ----------------------------------------------------------------------------

@import 'footer';
@import 'navbar';

.card {
  background-color: #fff;
}