@model winerack.Models.ActivityEventViewModels.Opened
@{
    Layout = "~/Views/Shared/_ActivityEvent.cshtml";
}

<p>@Model.Username opened a bottle of @Model.Bottle by @Model.Winery.</p>

@if (!string.IsNullOrWhiteSpace(Model.Notes)) {
    <blockquote>@Model.Notes</blockquote>
}
