@model winerack.Models.ActivityEventViewModels.Purchased
@using winerack.Helpers
@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}

@section Header {
    purchased @ExtensionMethods.BottleQuantity(Model.Quantity)
    of <a href="/vineyards/@Model.VineyardID">@Model.Winery</a> <a href="/wines/@Model.WineID">@Model.Bottle</a>
}

@if (!string.IsNullOrWhiteSpace(Model.Notes)) {
    <blockquote>@Model.Notes</blockquote>
}
