@model winerack.Models.ActivityEventViewModels.Tasted
@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}

@section Header {
    tasted a <a href="/vineyards/@Model.VineyardID">@Model.Winery</a> <a href="/wines/@Model.WineID">@Model.Bottle</a> 
}

@if (!string.IsNullOrWhiteSpace(Model.Notes)) {
    <blockquote>@Model.Notes</blockquote>
}

