<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="MigrateDatabaseToLatestVersion" value="false"/>
  <add key="smtp:user" value="SMTP_USERNAME"/>
  <add key="smtp:password" value="SMTP_PASSWORD"/>
  <add key="twitter:consumerKey" value="API_KEY"/>
  <add key="twitter:consumerSecret" value="API_SECRET"/>
  <add key="facebook:appId" value="API_ID"/>
  <add key="facebook:appSecret" value="APP_SECRET"/>
  <add key="tumblr:consumerKey" value="CONSUMER_KEY"/>
  <add key="tumblr:consumerSecret" value="CONSUMER_SECRET"/>
</appSettings>
