#welcome-page {
    margin-top: -30px;

    .jumbotron {
        position: relative;

        background-image: url(/images/corks-xs.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        color: #fff;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            background-image: url(../images/corks-sm.jpg);
        }

        @media (min-width: $screen-md-min) {
            background-image: url(../images/corks-md.jpg);
        }

        @media (min-width: $screen-lg-min) {
            background-image: url(../images/corks-lg.jpg);
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(../images/corks-xs@2x.jpg);

            @media (min-width: $screen-sm-min) {
                background-image: url(../images/corks-sm@2x.jpg);
            }

            @media (min-width: $screen-md-min) {
                background-image: url(../images/corks.jpg);
            }
        }
    }

    .marketing {
        padding-top: ($line-height-computed * 2);
	    padding-bottom: ($line-height-computed * 4);

        text-align: center;
    }

    .spacer-image {
        height: 25rem;

        background-image: url(../images/vasse-felix-xs.jpg);
        background-position: center center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            background-image: url(../images/vasse-felix-sm.jpg);
        }

        @media (min-width: $screen-md-min) {
            background-image: url(../images/vasse-felix-md.jpg);
        }

        @media (min-width: $screen-lg-min) {
            background-image: url(../images/vasse-felix-lg.jpg);
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(../images/vasse-felix-xs@2x.jpg);

            @media (min-width: $screen-sm-min) {
                background-image: url(../images/vasse-felix-sm@2x.jpg);
            }

            @media (min-width: $screen-md-min) {
                background-image: url(../images/vasse-felix.jpg);
            }
        }
}
}