//
// winerack.io
// main stylesheet
// ============================================================================

// Imports
// ----------------------------------------------------------------------------

@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "../vendor/typeahead-bootstrap3.css";

body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
