//
// winerack.io
// main stylesheet
// ============================================================================

// Imports
// ----------------------------------------------------------------------------

// Variables
@import "_variables.scss";

// Bootstrap
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "../vendor/typeahead-bootstrap3.css";
@import "select2-bootstrap3-css/lib/select2-bootstrap.scss";



// Components
// ----------------------------------------------------------------------------

@import "_footer.scss";



// Pages
// ----------------------------------------------------------------------------

@import "_welcome.scss";



// Scaffolding
// ----------------------------------------------------------------------------

body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
