@{
  ViewBag.Title = "Home";
}

<div class="row">
  <div class="col-md-3">
    @await Html.PartialAsync("Partials/_Profile")
  </div>

  <div class="col-md-6">

  </div>

  <div class="col-md-3">
    
  </div>
</div>