@{
  ViewBag.Title = "Home";
}

<div class="row">
  <div class="col-md-3">
    @await Html.PartialAsync("Partials/_Profile")

    <a class="btn btn-secondary btn-block">Collect</a>

    <a class="btn btn-secondary btn-block">Open</a>

    <a class="btn btn-secondary btn-block">Taste</a>
  </div>

  <div class="col-md-6">
    @await Component.InvokeAsync("ActivityStream")
  </div>

  <div class="col-md-3">
    
  </div>
</div>