@{
  Layout = "Layout/_Structure";
  ViewData["Title"] = "Winerack";
}

<nav class="navbar navbar-fixed-top">
  <a class="navbar-brand" asp-controller="Home" asp-action="Index">winerack</a>

  @await Html.PartialAsync("Layout/Partials/_LoginPartial")
</nav>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">winerack</h1>
    <p class="lead">Catalog and share your wine collection</p>
  </div>
</div>

@await Html.PartialAsync("Layout/Partials/_Footer")