@{
  Layout = "~/Views/Shared/Layout/_Authorised.cshtml";
}

@section Head {
  @RenderSection("head", false)
}

<div class="row">
  <div class="col-md-4">
    @Html.Partial("Layout/Partials/_Sidenav")
  </div>

  <div class="col-md-8">
    @RenderBody()
  </div>
</div>

@section Scripts {
  @RenderSection("scripts", false)
}