@model winerack.Models.ActivityEventViewModels.Opened
@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}

@section Header {
    opened a bottle
    of <a href="/wines/@Model.WineID">@Model.Bottle</a>
    by <a href="/vineyards/@Model.VineyardID">@Model.Winery</a>
}

@if (!string.IsNullOrWhiteSpace(Model.Notes)) {
    <blockquote>@Model.Notes</blockquote>
}
