@model winerack.Models.ActivityEventViewModels.Purchased
@using winerack.Helpers
@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}

@section Header {
    Purchased @ExtensionMethods.BottleQuantity(Model.Quantity)
    of <a href="/wines/@Model.Wine.ID">@Html.Partial("Wines/_Description", Model.Wine)</a>
    by <a href="/vineyards/@Model.Wine.VineyardID">@Model.Wine.Vineyard.Name</a>.
}

@if (!string.IsNullOrWhiteSpace(Model.Notes)) {
    <p>@Model.Notes</p>
}
